  <form id="choice_text" action ='/choices/new/<%= "#{@question.id}" %>' method='post'>
      <input type="text" name="text" placeholder="type a choice here...">
      <input id="choice_button" type="submit" value="submit choice">

   <a href="/surveys">Survey Finished</a>

  </form>

    
