  <form id="choice_text" action ='surveys/<%= @question.id %>/choices/' method='post'>
      <input type="text" name="text" placeholder="type a choice here...">
      <input type="submit" value="submit choice">
    </form>

     <button id="new_choice" type="submit" formaction="/surveys">Survey Finished</button>
