  <form class="choice_text" action ='/choices/new/<%= "#{@question.id}" %>' method='post'>
      <input type="text" name="text" placeholder="type a choice here...">
      <input class="btn" id="choice_button" type="submit" value="submit choice">
  </form>

    
