<form id="question_text" action ='/surveys/<%= @survey.id %>/questions' method='post'>
      <h3>Add a question</h3>
      <input type="text" name="question" placeholder="type the question here...">
      <input id="add_choices" type="submit" value="submit question">
</form>
