<div class="container">

  <% if current_user %>
   <% erb :surveys %>
  <% else %>
  <form action="/sign_up" method="POST">
    
    <input type="text" name="name" placeholder="name"><br>
    <input type="email" name="email" placeholder="email"><br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="submit" value="sign me up!"><br><br>
  </form>

  <form action="/login" method="POST">
    <p>Login:<br>
      <input type="email" name="email" placeholder="email"><br>
      <input type="password" name="password" placeholder="password"><br>

      <input type="submit" value="login">
  </form>
  <% end %>

</div>


