<%= erb :_navbar %>
<br><br><center>
<div class='container'>
  <h1> Create Your New Survey </h1>
  <div class='question_form'>
  
    <form id="survey_title" action='/surveys' method='post'>
      <input type="text" name="name" placeholder="type the survey title here...">
      <input type="submit" value="submit title">
    </form>

    <div id="binding_div">
<!-- parcials get appended here -->      
    </div>


  </div>
</div>


