
<center><br><br>
  <img src="http://paulkingsbury.com/wp-content/uploads/2012/03/all_logo.jpg" height="200" width="200"><br><br>
  <form action="/sign_up" method="POST" class="form-signin">
    
    <input type="text" class="form-control" name="user[name]" placeholder="name"><br>
    <input type="email" class="form-control" name="user[email]" placeholder="email"><br>
    <input type="password" class="form-control" name="user[password]" placeholder="password"><br><br>

    <input class="btn" type="submit" value="sign up!"><br><br>
  </form>

  <form action="/login" method="POST" class="form-signin">
      
      <input class="form-control" type="email" name="user[email]" placeholder="email"><br>
      <input class="form-control" type="password" name="user[password]" placeholder="password"><br><br>
      <input class="btn" type="submit" value="login">
  </form>
</center> 