<div class='container'>
  <%= @survey.name %><br>
  <% @survey.questions.each do |question| %>
    <%= question.text %>
    <% @survey.questions.first.choices.each do |choice| %>
    <li><%= choice.text %></li>
    <% end %>
  <% end %>
</div>


A user that's logged in can see the surveys they've created. 
A nonuser can take a survey. 
